<div class="add-btn">
    <button class="open-button" onclick="openDialog()">
        <i class="fa fa-comments pull-right fa-3x"></i>
    </button>
</div>
<div class="chat-popup" id="myForm">
    <span style="text-align: center;">Live Chat</span><a class="pull-right close" title="close" onclick="closechat()"><i class="fa fa-times" aria-hidden="true"></i></a>
    <iframe
        src="https://teamsbotportal-w365beta.azurewebsites.net/WebBotClient?webchatid=ebb20cdb-f398-4346-bc6f-d1e566a8427e"
        style="min-width: 300px; width:100%; min-height: 600px;"></iframe>
</div>
