{% if site.help_one_title == null %}
{% else %}
<div class="column col-12 text-center mt-16" style="flex: 0 0 100%">
  <h4>Still Need Help?</h4>
</div><br>
<div class="column col-2 col-sm-6 p-4 mb-8 col-mx-auto">
  <h5>{{ site.help_one_title }}</h5>
  <p>{{ site.help_one_content }}</p>
  <a href="{{ site.help_one_link }}">{{ site.help_one_button }} <i class='uil uil-arrow-right arrow-hover'></i></a>
</div>
{% endif %}
{% if site.help_two_title == null %}
{% else %}
<div class="column col-2 col-sm-6 p-4 mb-8 col-mx-auto">
  <h5>{{ site.help_two_title }}</h5>
  <p>{{ site.help_two_content }}</p>
  <a href="{{ site.help_two_link }}" target="_blank">{{ site.help_two_button}} <i
      class='uil uil-arrow-right arrow-hover'></i></a>
</div>
{% endif %}
{% if site.help_three_title == null %}
{% else %}
<div class="column col-2 col-sm-6 p-4 mb-8 col-mx-auto">
  <h5>{{ site.help_three_title }}</h5>
  <p>{{ site.help_three_content }}</p>
  <a href="mailto:{{ site.email }}" target="_blank">{{ site.help_three_button}} <i
      class='uil uil-arrow-right arrow-hover'></i></a>
</div>
{% endif %}
{% if site.help_four_title == null %}
{% else %}
<div class="column col-2 col-sm-6 p-4 mb-8 col-mx-auto">
  <h5>{{ site.help_four_title }}</h5>
  <p>{{ site.help_four_content }}</p>
  <a href="{{ site.help_four_link }}" target="_blank">{{ site.help_four_button}} <i
      class='uil uil-arrow-right arrow-hover'></i></a>
</div>
{% endif %}

{% if site.help_five_title == null %}
{% else %}
<div class="column col-2 col-sm-12 p-4 mb-8 col-mx-auto">
  <h5>{{ site.help_five_title }}</h5>
  <p>{{ site.help_five_content }}</p>
  <a style="cursor:pointer" onclick="openIframe()" target="_blank">{{ site.help_five_button}} <i
      class='uil uil-arrow-right arrow-hover'></i></a>
</div>
<script>

  function openIframe() {
    //$("#webchat").trigger("click");
    $("#launchDiv").trigger("click");

    var intervalFn = setInterval(function () {
      console.log("Timer Called", document.getElementById("launchDiv"))
      if (document.getElementById("launchDiv")) {
        // console.log(document.getElementById("iframe"))
        $("#webchat").trigger("click");
          $('#closeiconlauncher').css("display", "none")
        clearInterval(intervalFn)

        // $("#launchDiv").trigger("click");
      }
    }, 2000);


  }
</script>
{% endif %}
