---
layout: default
---

{% include header.html %}
<div class="container-full">
  <div class="container grid-xl">
    <div class="mt-12 show-md"></div>
    <div class="mt-8"></div>
    <div class="columns negative-m-xl">
      <div class="column col-12">
        <ul class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{{ site.url }}">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="{{site.url}}/categories?category={{ page.category }}" class="headName">{{ page.category }}</a>
          </li>
          <li class="breadcrumb-item">
            </li>
        </ul>
        <h2 class="text-light text-bold heading">{{ page.title }}</h2>
        <p class="text-light mb-0 heading">{{ page.short-description }}</p>
      </div>
      <div class="column col-12">
        <div class="card">
          <div class="card-body">
              {{ content }}
  {% if page.tags.size > 0 %}
  <div class="blog-tags">
    Tags:
    {% if site.link-tags %}
    {% for tag in page.tags %}
    <a href="{{ '/tags' | relative_url }}#{{- tag -}}">{{- tag -}}</a>{% if forloop.last == false %}
    ,
  {% endif %}
    {% endfor %}
    {% else %}
    {{ page.tags | join: ", " }}
    {% endif %}
  </div>
  {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
